<h3 class="mb-3">Collaborateurs</h3>
<hr />

<div class="mb-3 form-inline justify-content-between">
  <button
    type="button"
    class="btn btn-outline-secondary"
    [routerLink]="['/employees/new-employee']"
    routerLinkActive="router-link-active"
  >
    Ajouter un collaborateur
  </button>
  <form class="form-inline">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      name="employeeName"
      [(ngModel)]="employeeName"
    />
    <button
      class="btn btn-outline-success my-2 my-sm-0"
      (click)="searchEmployee(employeeName)"
    >
      Search
    </button>
  </form>
</div>

<div class="mb-3">
  <div class="panel panel-default" *ngIf="employee">
    <div class="panel-heading">
      <h4 class="panel-title">{{ employee.nameEmp }}</h4>
    </div>
    <div class="panel-body">
      <table class="table profile__table">
        <tbody>
          <tr>
            <th><strong>Service</strong></th>
            <td>
              <span *ngIf="employee.functionEmp.serviceFunction">{{
                employee.functionEmp.serviceFunction.nameService
              }}</span>
            </td>
          </tr>
          <tr>
            <th><strong>Fonction</strong></th>
            <td>
              <span *ngIf="employee.functionEmp">
                {{ employee.functionEmp.nameFunction }}
              </span>
            </td>
          </tr>
          <tr>
            <th><strong>Email</strong></th>
            <td>{{ employee.emailEmp }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- <div class="card-body p-0">
    <form action="#" class="py-4">
      <div class="form-row mx-4">
        <div class="col mb-3">
          <h6 class="form-text m-0">General</h6>
          <p class="form-text text-muted m-0">
            Setup your general profile details.
          </p>
        </div>
      </div>
      <div class="form-row mx-4">
        <div class="col-lg-8">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstName">Nom et Prénom</label>
              <input type="text" class="form-control" id="name" value="" />
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="userLocation">Location</label>
                <div class="input-group input-group-seamless">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="material-icons">&#xE0C8;</i>
                    </div>
                  </div>
                  <input type="text" class="form-control" value="" />
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="phoneNumber">Phone Number</label>
                <div class="input-group input-group-seamless">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="material-icons">&#xE0CD;</i>
                    </div>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="phoneNumber"
                    value=""
                  />
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="emailAddress">Email</label>
                <div class="input-group input-group-seamless">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="material-icons">&#xE0BE;</i>
                    </div>
                  </div>
                  <input type="email" class="form-control" id="emailAddress" />
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="displayEmail">Display Email Publicly</label>
              <select class="custom-select">
                <option value="1" selected>Yes, display my email</option>
                <option value="2">No, do not display my email.</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <label for="userProfilePicture" class="text-center w-100 mb-4"
            >Profile Picture</label
          >
          <div class="edit-user-details__avatar m-auto">
            <img src="images/avatars/0.jpg" alt="User Avatar" />
            <label class="edit-user-details__avatar__change">
              <i class="material-icons mr-1">&#xE439;</i>
              <input type="file" id="userProfilePicture" class="d-none" />
            </label>
          </div>
          <button class="btn btn-sm btn-white d-table mx-auto mt-4">
            <i class="material-icons">&#xE2C3;</i> Upload Image
          </button>
        </div>
      </div>
      <div class="form-row mx-4">
        <div class="form-group col-md-6">
          <label for="userBio">Bio</label>
          <textarea
            style="min-height: 87px;"
            id="userBio"
            name="userBio"
            class="form-control"
          >
I'm a design focused engineer.</textarea
          >
        </div>
        <div class="form-group col-md-6">
          <label for="userTags">Tags</label>
          <input
            id="userTags"
            name="userTags"
            value="User Experience,UI Design, React JS, HTML & CSS, JavaScript, Bootstrap 4"
            class="d-none"
          />
        </div>
      </div>
      <hr />
    </form>
  </div> -->
